<html>
    <head>
        <title>Biblioteca</title>
        <style>
            body {
                background: khaki;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>Biblioteca da Lusofonia</h1>
            <a href="{% url 'autores' %}">Autores</a>
            <a href="{% url 'generos' %}">Géneros</a>
        </header>

        <main>

            {% block content %}
            {% endblock %}

        </main>

        <footer>
            <p>Universidade Lusófona</p>
        </footer>
    </body>
</html>